doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/') Inicio
        a(href='/quienes-somos') Quienes Somos
        a(href='/productos') Productos
        a(href='/contactanos') Contáctanos