doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    meta(name='description', content='Joyería Quisuruco te brinda las mejores opciones en joyas y accesorios.')
    meta(name='keywords', content='joyeria, joyas, anillos, collares')
    meta(property='og:title', content='Joyería Quisuruco')
    meta(property='og:image', content='/images/logo.png')
    title Joyería Quisuruco
    link(rel='stylesheet', type='text/css', href='../css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../css/owl.carousel.css')
    link(rel='stylesheet', type='text/css', href='../css/chosen.css')
    link(rel='stylesheet', type='text/css', href='../css/lightbox.min.css')
    link(rel='stylesheet', type='text/css', href='../css/pe-icon-7-stroke.css')
    link(rel='stylesheet', type='text/css', href='../css/jquery.mCustomScrollbar.css')
    link(rel='stylesheet', type='text/css', href='../css/magnific-popup.css')
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400italic,400,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,100,100italic,300italic,400,400italic,500,500italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
  body
    #box-mobile-menu.box-mobile-menu.full-height.full-width
      .box-inner
        span.close-menu
          span.icon.pe-7s-close
    #header-ontop.is-sticky
    header#header.header.style3
      .main-menu-wapper
        .row
          .col-sm-12.col-md-12.menu-wapper
            .top-header(style='padding-top:0px')
              span.mobile-navigation
                i.fa.fa-bars
              .col-sm-4
                br
              .col-sm-4.col-md-4.logo-wapper(style='text-align:center')
                .logo(style='padding-top:25px')
                  a(style='text-align:center', href='#')
                    img(src='../images/logos/1.png', alt='')
            .col-sm-12(style='text-align:center;padding:0px;background:black;color:white')
              ul.boutique-nav.main-menu.clone-main-menu
                li.menu-item-has-children.item-megamenu
                  a(style='color:white', href='/') Inicio
                li.active.menu-item-has-children
                  a(href='/quienes-somos') Quisuruco
                li.menu-item-has-children
                  a(style='color:white', href='/productos') Productos
                li.menu-item-has-children
                  a(style='color:white', href='/promociones') Promociones
                li.menu-item-has-children
                  a(style='color:white', href='/contactanos') Contacto
    .main-container.shop-with-banner.left-slidebar
      .block-paralax3(style="background-image: url('../images/subscribe.jpg');background-repeat:no-repeat;margin-top:0px")
        .container
          .row
            // Añadir un fondo con transparencia
            .col-sm-12.col-md-9(style='text-align:left')
              h1(style='font-weight:bold') Conócenos
    .container(style='margin-top:50px;margin-bottom:25px')
      h2 MISIÓN
      p(font-style='italic')
        | “Somos una empresa dedicada a la producción y comercialización de joyas, ofreciéndoles artículos finos tendentes a la moda que hacen única su estilo y elegancia de nuestros clientes”
      h2 VISIÓN
      p
        | “Liderar la industria de la joyería en alta calidad y ser la mejor opción de nuestros clientes”
      br
      h2 VALORES
      ul(style='margin-left:15px')
        li
          | SERIEDAD: Nos enfocamos en tener una alta responsabilidad y cumplimos justo tiempo en los contratos con nuestros clientes.
        li
          | SERVICIO AL CLIENTE: Buscamos la atención más agradable  y óptima hacia nuestros clientes.
        li
          | COMPROMISO: Nos dedicamos en  llegar al objetivo establecido y cumplimos responsablemente con las actividades propias de la empresa.
        li
          | LEALTAD: Tenemos un compromiso y mostramos fidelidad. Hacemos con respeto nuestras responsabilidades.
        li
          | TRABAJO EN EQUIPO: Trabajamos en sinergia con todo el personal de la empresa para  lograr satisfacer las expectativas de nuestros clientes
      br
      br
      h2 OBJETIVOS
      ul(style='margin-left:15px')
        li  Desarrollar una marca y ser reconocida a nivel nacional.
        li  Aumentar nuestra gama de productos por ende generar mayores ventas.
        li
          | Acogernos a la tecnología para mejorar la optimización de nuestros procesos productivos.
        li  Crear e innovar  modelos que hagan diferenciador de nuestra competencia.
        li
          | Desarrollar un equipo calificado en todos nuestros talentos humanos para tener un mejor desempeño laboral y profesional dentro de nuestra empresa.
        li  Aperturar nuevos punto de venta.
        li  Desarrollar estrategia de marketing para mejorar.
      .row(style='margin-top:50px')
        .col-sm-12.col-md-5(style='text-align:center')
          h2
            | ORGANIGRAMA DE 
            br
            |  INVERSIONES 
            br
            |  QUISURUCO S.A.C.
        .col-sm-12.col-md-7(style='text-align:center')
          h1 ACA VA ORGANIGRAMA
          img(src='')
    footer.footer(style='padding-bottom:25px')
      .footer-top
        .container
          .row.flex-flow(style='color:white')
            .col-sm-1
              br
            .col-sm-3(style='text-align:center')
              | Av. Prueba 123, Lima
            .col-sm-4(style='text-align:center')
              strong  QUISURUCO 
            .col-sm-3(style='text-align:center')
              | (01) 123 4567
            .col-sm-1
              br
            .col-sm-12(style='text-align:center')
              br
              a(href='http://devs.com.pe', target='_blank', style='font-size:10px;color:white') Diseñado por DEVS
    a.scroll_top(href='#', title='Scroll to Top', style='display: block;')
      i.fa.fa-arrow-up
    script(type='text/javascript', src='../js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='../js/bootstrap.min.js')
    script(type='text/javascript', src='../js/owl.carousel.min.js')
    script(type='text/javascript', src='../js/chosen.jquery.min.js')
    script(type='text/javascript', src='../js/Modernizr.js')
    script(type='text/javascript', src='../js/jquery-ui.min.js')
    script(type='text/javascript', src='../js/lightbox.min.js')
    script(type='text/javascript', src='../js/masonry.pkgd.min.js')
    script(type='text/javascript', src='../js/imagesloaded.pkgd.min.js')
    script(type='text/javascript', src='../js/isotope.pkgd.min.js')
    script(type='text/javascript', src='../js/jquery.mCustomScrollbar.concat.min.js')
    script(type='text/javascript', src='../js/jquery.parallax-1.1.3.js')
    script(type='text/javascript', src='../js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='../js/masonry.js')
    script(type='text/javascript', src='../js/functions.js')
