<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Joyería Quisuruco te brinda las mejores opciones en joyas y accesorios.">
    <meta name="keywords" content="joyeria, joyas, anillos, collares">
    <meta property="og:title" content="Joyería Quisuruco" />
    <meta property="og:image" content="/images/logo.png" />
    <title>Productos</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/chosen.css">
    <link rel="stylesheet" type="text/css" href="../css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="../css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="../css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400italic,400,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,100,100italic,300italic,400,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="box-mobile-menu" class="box-mobile-menu full-height full-width">
	<div class="box-inner">
		<span class="close-menu"><span class="icon pe-7s-close"></span></span>
	</div>
</div>
<div id="header-ontop" class="is-sticky"></div>
<header id="header" class="header style3">
        <div class="main-menu-wapper">
        <div class="row">
            <div class="col-sm-12 col-md-12 menu-wapper">
                <div class="top-header" style="padding-top:0px">
                    <span class="mobile-navigation"><i class="fa fa-bars"></i></span>
                        <div class="col-sm-4">
                            <br>
                        </div>
                        <div class="col-sm-4 col-md-4 logo-wapper" style="text-align:center">
                            <div class="logo" style="padding-top:25px">
                                <a style="text-align:center" href="#"><img src="../images/logos/1.png" alt=""></a>
                            </div>
                        </div>
                </div>
                <div class="col-sm-12" style="text-align:center">
                <ul class="boutique-nav main-menu clone-main-menu">         
                                                 
                    <li class="menu-item-has-children item-megamenu">
                        <a href="/">Inicio</a>
                        
                    </li>
                    <li class="menu-item-has-children">
                        <a href="/quienes-somos">Quisuruco</a>
                    </li>
                    <li class="active menu-item-has-children">
                        <a href="/productos">Productos</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="/promociones">Promociones</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="/contactanos">Contacto</a>
                    </li>
                    
                </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</header>
<div class="main-container shop-with-banner left-slidebar" >
    <div class="block-paralax3" style="background-image: url('../images/subscribe.jpg');background-repeat:no-repeat;margin-top:0px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <br>
                </div>
                <!-- Añadir un fondo con transparencia -->
                <div class="col-sm-12 col-md-9" style="text-align:left">
                    <h1>PRODUCTOS</h1>
                </div>
            </div>
        </div>
    </div>
	<div class="container" style="margin-top:50px">
		
		<div class="breadcrumbs style2">
            <a href="#">Home</a>
            <span>Categories_Leftsidebar</span>
        </div>
		<div class="row">
			<div class="main-content col-sm-8 col-md-9">
				<div class="shop-top">
                    <div class="shop-top-left">
                        <span class="woocommerce-result-count">Showing 1-9 of 2268 results</span>
                    </div>
                </div>
				<ul class="product-list-grid desktop-columns-3 tablet-columns-2 mobile-columns-1 row flex-flow">
					<li class="product-item style4 col-sm-6 col-md-4">
						<div class="product-inner">
							<div class="product-thumb has-back-image">
								<a href="#"><img src="../images/products/left1.png" alt=""></a>
								<a class="back-image" href="#"><img src="../images/products/left2.png" alt=""></a>
								<div class="add-cart-wapper">
									<a href="#" class="button add_to_cart_button">Pedir</a>
								</div>
							</div>
							<div class="product-info">
								<h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
								<span class="price">
									<ins>S/100</ins>
								</span>
							</div>
						</div>
					</li>
				</ul>
                <!--
				<div class="navigation">
                    <ul>
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
                    </ul>
                </div>
                -->
			</div>
			<div class="col-sm-4 col-md-3 sidebar"> 
                <!-- Product category -->
                <div class="widget widget_product_categories">
                    <h2 class="widget-title">Categories</h2>
                    <ul class="product-categories">
                        <li><a href="#">Sunglasses</a><span class="count-item">(25)</span></li>
                        <li><a href="#">Watches</a><span class="count-item">(23)</span></li>
                        <li class="current-cat"><a href="#">Jewelry</a><span class="count-item">(9)</span></li>
                        <li><a href="#">Hats, Scraves & Gloves</a><span class="count-item">(12)</span></li>
                        <li><a href="#">Underwear & Socks</a><span class="count-item">(48)</span></li>
                        <li><a href="#">Grooming</a><span class="count-item">(6)</span></li>
                        <li><a href="#">Belts</a><span class="count-item">(18)</span></li>
                    </ul>
                </div>
                <!-- ./Product category -->
                
                
                
                
        	</div>
		</div>
	</div>
</div>

	<footer class="footer" style="padding-bottom:25px">
        <div class="footer-top">
            <div class="container">
                <div class="row flex-flow" style="color:white">
                    <div class="col-sm-1">
                        <br>
                    </div>
                    <div class="col-sm-3" style="text-align:center">
                        Av. Prueba 123, Lima
                    </div>
                    <div class="col-sm-4" style="text-align:center">
                        <strong> QUISURUCO </strong>
                    </div>
                    <div class="col-sm-3" style="text-align:center">
                        (01) 123 4567
                    </div>
                    <div class="col-sm-1">
                        <br>
                    </div>
                    <div class="col-sm-12" style="text-align:center">
                        <br>
                        <a href="http://devs.com.pe" target="_blank" style="font-size:10px;color:white">Diseñado por DEVS</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<a href="#" class="scroll_top" title="Scroll to Top" style="display: block;"><i class="fa fa-arrow-up"></i></a>
    <script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="../js/Modernizr.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/lightbox.min.js"></script>
    <script type="text/javascript" src="../js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="../js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="../js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="../js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../js/masonry.js"></script>
    <script type="text/javascript" src="../js/functions.js"></script>
</body>
</html>